<h1>Listing upload_results</h1>

<table>
  <tr>
    <th>Kind</th>
    <th>Total size</th>
    <th>Error size</th>
    <th>Error report path</th>
  </tr>

<% @upload_results.each do |upload_result| %>
  <tr>
    <td><%= upload_result.kind %></td>
    <td><%= upload_result.total_size %></td>
    <td><%= upload_result.error_size %></td>
    <td><%= error_report_link(upload_result) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upload result', new_upload_result_path %>
